<div class="banner container df_col_cent">
    <h1>Own your audience.</h1>

    <picture>
        <img src="../../images/text_shape.png" alt="so you don't lose them.">
    </picture>

    <div class="banner_info df_col_cent">
        <h5>Turn your audience into email and
            text message subscribers.</h5>

        <div class="btns">
            <button class="started text">Get Started Now</button>

            <button class="demo text">View A Demo</button>
        </div>

        <p class="df_c">
            <img src="../../images/dot.png" alt="o">

            <b>1000+</b>
            creators have already started
        </p>
    </div>
</div>