<div class="step_3 container">

    <div class="df_col_cent">
        <h5>STEP 3</h5>
        <h2>Send Emails & Text Messages</h2>
        <p class="text_">No more going through a social platform. Reach and engage
            your audience directly over email and text massage.</p>
    </div>

    <div class="content">
        <div class="df_sb_c">

            <div class="create">
                <span class="text_">Create & Share</span>

                <h2>Reach Your Audience <b>Directly.</b></h2>

                <p class="text_next df_c">
                    <img src="../../images/bullet.png" alt="1">
                    Embed content or create something new to share.
                </p>
    
                <p class="text_next df_c">
                    <img src="../../images/bullet_2.png" alt="2">
                    Share content over email, text message or your homepage.
                </p>

                <div class="btns">
                    <a class="started" href="#">Get Started Now</a>
    
                    <a class="demo" href="#">View A Demo</a>
                </div>

            </div>

            <picture>
                <img src="../../images/image_.png" alt="img">
            </picture>
        </div>
    </div>

</div>