<div class="step_1 container">

    <div class="df_col_cent">
        <h5>STEP 1</h5>

        <h2>Connect Your Content</h2>

        <p class="text">Bring all of your content together and get a Homepage that
            automatically updates whenever you create anywhere online.</p>

        <a class="btn text" href="#">View Avaliable Sources</a>
    </div>

    <div class="df_sb_c">

        <div class="df_col_left">

            <h4 class="text_">Your Homepage</h4>

            <h2>Your Content.</h2>

            <h2>All in<b>One Spot</b></h2>

            <p class="text_next df_c">
                <img src="../../images/bullet.png" alt="1">
                Bring all of your content together into one homepage.
            </p>

            <p class="text_next df_c">
                <img src="../../images/bullet_2.png" alt="2">
                Your page automatically updates whenever you create.
            </p>

            <div class="btns">
                <a class="started" href="#">Get Started Now</a>

                <a class="demo" href="#">View A Demo</a>
            </div>
        </div>

        <picture>
            <img src="../../images/image.png" alt="img">
        </picture>
    </div>
</div>