<div class="step_2 container">

    <div class="df_col_cent">
        <h5>STEP 2</h5>

        <h2>Share Your Homepage</h2>

        <p class="text">Share your Wavium homepage link with your followers, and
            we'll handle the rest.</p>
    </div>
    <div class="content">
        <div class="df_sb_c">

            <div class="one_link">
                <span class="text">One Link</span>

                <h3 class="grey">ALL You Create.</h3>

                <h3>One Link</h3>

                <picture>
                    <img src="../../images/mobile_body.png" alt="img">
                </picture>
            </div>

            <div class="subscribers">
                <span class="text">Collect Subscribers</span>

                <h3 class="grey">Emails.
                    Phone #s.</h3>

                <h3>All Yours.</h3>
            </div>
        </div>

        <a href="#" class="btn text">Get Started </a>
    </div>
</div>