<header class=" container df_sb_c">
    <picture>
        <img src="../../images/company_logo.png" alt="logo">
    </picture>

    <nav class="df_sb_c">
        <div class="dropup">
            <button class="dropbtn text">Use Cases
                <img class="arrow" src="../../images/down_arrow.png" alt="down arrow"></button>
            <div class="dropup-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <a class="text" href="#">About</a>

        <a class="text" href="#">Pricing</a>

        <a class="text" href="#">Blog</a>
    </nav>


    <div class="btns">
        <a class="login text">Login</a>
        <button class="sing_up text">Sign Up</button>
    </div>
</header>