<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marico</title>
  <script src="https://kit.fontawesome.com/e9d412d8b6.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/index.min.css">
  <script src="https://kit.fontawesome.com/e9d412d8b6.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include "templates/_base/_header.html" %}

  <main>
    {% include "templates/_layouts/_banner.html" %}

    {% include "templates/_layouts/_why_choose_us.html" %}

    {% include "templates/_layouts/_step_1.html" %}

    {% include "templates/_layouts/_step_2.html" %}

    {% include "templates/_layouts/_step_3.html" %}

    {% include "templates/_layouts/_experts_agree.html" %}

    {% include "templates/_layouts/_penultimate.html" %}

    {% include "templates/_base/_footer.html" %}
    
  </main>

  <script src="./js/index.min.js"></script>
</body>

</html>